<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="eBankingProjectV1"> 
	<listeners>
		<listener class-name="com.eBankingProject.utilities.Reporting"/>
	</listeners>
	

    <test name="BankingApp Test">
        <parameter name="browser" value="msedge"/>
        <classes>
        
         
		 <class name="com.eBankingProject.testCases.TC_AddCustomerTest_003"/>
		 

        </classes>
    </test>
    
    
</suite>
